.clickable:hover {
    cursor: pointer;
}

/* Adjust inline-feature-select to align well with button text */
.inline-feature-select {
    @apply inline-block cursor-pointer mx-1 px-1 border-2;
    font-size: inherit;
    height: fit-content;
    vertical-align: middle;
    line-height: 0.8; /* Adjust for better vertical alignment */
    border-radius: 0.375rem; /* Optionally round corners to match button */
    padding: 0 0.5rem; /* Adjust padding */
}

.inline-feature-select option {
    @apply px-1 py-0.5;
}

h2 {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
h3 {
    color: black;
    font-size: 14px;
}

/*select dropdown*/
.select-dropdown {
    @apply rounded-lg bg-[whitesmoke] cursor-pointer mx-0 my-0 px-2 py-1 border border-gray-300 w-auto;
    /* Ensure the select fits nicely within its container */
    font-size: 0.7rem; /* Slightly smaller font for compact size */
    line-height: 1.25; /* Adjust the line-height for better fit */
    appearance: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    height: auto; /* Ensure it adapts to content */
    padding: 0.25rem 0.5rem; /* Compact padding */
}